.vl {
    border-left: 3px solid black;
    position: absolute;
    left: 1413px;
    height: 130em;
}
h1, .header {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 50px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 30px;
    width: 500px;
    margin: auto;
}
.container {
    position: absolute;
    top: 10px;
    right: 100px;
    height: 104px;
    width: 53px;
}
.para {
    margin: auto;
}
.nav {
    background: #000;
    height: 120px;
    display: flex;
    position: relative;
}
.navbar {
    margin-top: 200px;
    right: 100px;
    position: fixed;
    display: inline;
    align-items: center;
    color: #fff;
    width: 250px;
    list-style: none;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.n {
    background: #000;
    height: 120px;
}
.navitem {
    overflow: hidden;
    text-decoration: none;
    color: white;
    border: 15px;
    margin: 20px;
    align-items: center;
    padding: 25px;
    width: 100px;
    line-height: 80px;
}
.navitem:hover, .header:hover, #submit:hover {
    background: #117bff;
    width: 100px;
    cursor: pointer;
    transition: background .5s;
}
#rock {
    height: 550px;
    margin-left: 500px;
}
.pg1, .contact {
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    width: 1410px;
}
.pg2 {

}
.dfa {
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    width: 700px;
}
input {
    padding: 3px;
    display: block;
    margin-top: 3px;
}
.pg3 {
    display: inline-block;
}
.texts {
    position: absolute;
    margin-top: -215px;
    margin-left: -150px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#submit {
    margin-top: -30px;
    margin-left: 350px;
}
#git {
    position: relative;
    top: 25%;
}
input {
    height: 30px;
    width: 300px;
}
.box {
    position: absolute;
    margin-top: -180px;
    margin-left: -150px;
    height: 140px;
    width: 1000px;
    resize: none;
}
body{
    overflow-y: scroll;
    margin: 0;
    background: #071928;
}
